:root {
    /* ============= LIGHT THEME ============= */

    /* ========== BRAND =========== */
    --semantic-brand: var(--color-secondary-900);              /* #203F57 */
    --semantic-brand-hover: var(--color-secondary-950);       /* #0C2D48 */
    --semantic-brand-soft: var(--color-quaternary-800);        /* #62E8FA */
    --semantic-brand-soft-hover: var(--color-quaternary-900); /* #55E6F9 */

    /* ========= BACKGROUND ========== */
    --semantic-background: var(--color-secondary-100);         /* #F0F5EE */
    --semantic-surface: var(--color-white);                    /* #FFFFFF */
    --semantic-surface-muted: var(--color-secondary-200);      /* #E1EBE3 */
    --semantic-background-inverse: var(--color-secondary-950); /* #0C2D48 */

    /* ============= TEXT =============== */
    --semantic-text-primary: var(--color-secondary-950);      /* #0C2D48 */
    --semantic-text-secondary: var(--color-secondary-700);    /* #526B7B */
    --semantic-text-muted: var(--color-secondary-500);        /* #90A1A9 */
    --semantic-text-inverse: var(--color-white);              /* #FFFFFF */

    /* ============= BORDER ============ */
    --semantic-border: var(--color-secondary-300);             /* #CAD5D3 */
    --semantic-border-strong: var(--color-secondary-600);     /* #718691 */

    /* ============== FOCUS ================*/
    --semantic-focus-ring: var(--color-secondary-400);        /* #AFBCBF */
    --semantic-focus-border: var(--color-secondary-500);      /* #90A1A9 */

    /* ============= STATE ================ */
    --semantic-success: var(--color-primary-950);              /* #39A900 */
    --semantic-warning: var(--color-tertiary-950);             /* #007832 */
    --semantic-error: var(--color-error);                      /* #E53935 */

    /* =========== TYPOGRAPHY ============== */
    --semantic-font-size-display: var(--fs-xxl);
    --semantic-font-size-h1: var(--fs-lg);
    --semantic-font-size-h2: var(--fs-md);
    --semantic-font-size-h3: var(--fs-sm);
    --semantic-font-size-body: var(--fs-xs);
    --semantic-font-size-medium: var(--fs-xxs);
    --semantic-font-size-small: var(--fs-xxxs);
    --semantic-font-size-caption: var(--fs-xxxxs);

    /* ============= FONT WEIGHT ============== */
    --semantic-font-weight-heading: var(--font-weight-bold);
    --semantic-font-weight-medium: var(--font-weight-medium);
    --semantic-font-weight-body: var(--font-weight-regular);
    --semantic-font-weight-label: var(--font-weight-regular);

    /* ============ DARK THEME ============== */

}
